Repository montipirlo21/devops_guideline: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_hammerservice, build_cutterservice

.gitlab-ci.yml:

stages:
  - build

.dind: &dind_template
  image: docker:git
  variables:
    # using "docker" as the host is only possible if you alias the service below
    DOCKER_HOST: tcp://docker:2375 
    # could be wrong here but although Docker defaults to overlay2, 
    # Docker-in-Docker (DIND) does not according to the following GitLab doc: 
    # https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-the-overlayfs-driver
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  stage: build
  tags:
    - docker
  services:
    - name: docker:dind
      alias: docker
      command: ["--tls=false"]

build_hammerservice:
  <<: *dind_template
  only: 
    changes:
      - src/hammerservice/**/*  
  script:
    - docker --version
    - docker build -t hammerservice:latest -f ./src/hammerservice/hammerservice/Dockerfile ./src/hammerservice/hammerservice


build_cutterservice:
  <<: *dind_template
  only: 
    changes:
      - src/cutterservice/**/*  
  script:
    - docker --version
    - docker build -t cutterservice:latest -f ./src/cutterservice/Dockerfile ./src/cutterservice

test dotnet
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice

altra prova dotnet
  .gitlab-ci.yml
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice

14 build docker images for subfolders (#15)
  .gitlab-ci.yml
  src/cutterservice/go.mod
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice, build_cutterservice

proviamo il push
  .gitlab-ci.yml
  gitlab/README.md
  release/kubernetes-manifests.yaml
  src/cutterservice/go.mod
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice, build_cutterservice

proviamo il push (#17)
  .gitlab-ci.yml
  gitlab/README.md
  release/kubernetes-manifests.yaml
  src/cutterservice/go.mod
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice, build_cutterservice

modificato image tag with sha
  .gitlab-ci.yml
Due: none

creato manifest e modificato leggeremente il push ti docker hub
  .gitlab-ci.yml
  release/kubernetes-manifests.yaml
  src/cutterservice/go.mod
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice, build_cutterservice

9 create yaml for running microservice on kind k8s clusters (#19)
  .gitlab-ci.yml
  README.md
  kind/cluster-config.yaml
  release/README.md
  release/kubernetes-manifests.yaml
  src/cutterservice/go.mod
  src/hammerservice/hammerservice.tests/UnitTest1.cs
Due: build_hammerservice, build_cutterservice

completato manifest di prova e cluster config kind
  README.md
  kind/cluster-config.yaml
  release/README.md
  release/kubernetes-manifests.yaml
Due: none

aggiunto test dotnet
  .gitlab-ci copy.yml
  .gitlab-ci.yml
Due: none

fix typo
  .gitlab-ci.yml
Due: none

fixato pipeline
  .gitlab-ci.yml
Due: none

aggiunto pipeline test go e test fake in go
  .gitlab-ci.yml
  src/cutterservice/greetings_test.go
Due: build_cutterservice

modificato immagine golang
  .gitlab-ci.yml
Due: none

rimosso artifact
  .gitlab-ci.yml
Due: none

20 testing application before build (#23)
  .gitlab-ci copy.yml
  .gitlab-ci.yml
  src/cutterservice/greetings_test.go
Due: build_cutterservice

modificato porte
  kind/cluster-config.yaml
Due: none

creato regola ingress per gestire grpc
  release/kubernetes-manifests.yaml
Due: none

sistemato file
  release/kubernetes-manifests.yaml
Due: none

sistemato folders certs
  certs/gitlab/cert.conf
  certs/gitlab/creaCertificati.sh
  certs/gitlab/csr.conf
  certs/gitlab/gitlab.local.com.crt
  certs/gitlab/gitlab.local.com.csr
  certs/gitlab/gitlab.local.com.key
  certs/gitlab/gitlab.local.com.pem
  certs/rootCa/rootCA.crt
  certs/rootCa/rootCA.key
  certs/rootCa/rootCA.srl
  certs/wildcard/cert.conf
  certs/wildcard/creaCertificatoAvendoRoot.sh
  certs/wildcard/csr.conf
  certs/wildcard/wildcard.dev.com.crt
  certs/wildcard/wildcard.dev.com.csr
  certs/wildcard/wildcard.dev.com.key
  gitlab/rootCA.srl
  kind/README.md
Due: none

18 create ingress for accessing srv and testing with postman (#25)
  certs/gitlab/cert.conf
  certs/gitlab/creaCertificati.sh
  certs/gitlab/csr.conf
  certs/gitlab/gitlab.local.com.crt
  certs/gitlab/gitlab.local.com.csr
  certs/gitlab/gitlab.local.com.key
  certs/gitlab/gitlab.local.com.pem
  certs/rootCa/rootCA.crt
  certs/rootCa/rootCA.key
  certs/rootCa/rootCA.srl
  certs/wildcard/cert.conf
  certs/wildcard/creaCertificatoAvendoRoot.sh
  certs/wildcard/csr.conf
  certs/wildcard/wildcard.dev.com.crt
  certs/wildcard/wildcard.dev.com.csr
  certs/wildcard/wildcard.dev.com.key
  gitlab/rootCA.srl
  kind/README.md
  kind/cluster-config.yaml
  release/README.md
  release/kubernetes-manifests.yaml
Due: none

sistemato readme
  release/README.md
Due: none

sistemato provisioning
  kind/README.md
  kind_provisioning/README.md
  kind_provisioning/cluster-config.yaml
Due: none

aggiunto configurazione flux
  clusterProvisioning/README.md
  clusterProvisioning/cluster-config.yaml
  clusterProvisioning/micro-apps-kustomization.yaml
  clusterProvisioning/micro-apps-source.yaml
  gitlab/README.md
  kind_provisioning/README.md
  kustomize/README.md
  kustomize/kubernetes-manifests.yaml
  kustomize/kustomization.yaml
Due: none

avanzamento sviluppi, sistemato secret
  clusterProvisioning/README.md
  clusterProvisioning/micro-apps-secret.yaml
  clusterProvisioning/micro-apps-source.yaml
  secret-flux-system.yaml
  secret-micro-apps-secret.yaml
Due: none

22 flux installation (#26)
  clusterProvisioning/README.md
  clusterProvisioning/cluster-config.yaml
  clusterProvisioning/micro-apps-kustomization.yaml
  clusterProvisioning/micro-apps-source.yaml
  gitlab/README.md
  kind_provisioning/README.md
  kustomize/README.md
  kustomize/kubernetes-manifests.yaml
  kustomize/kustomization.yaml
  secret-flux-system.yaml
  secret-micro-apps-secret.yaml
Due: none

completato release flux
  clusterProvisioning/README.md
  clusterProvisioning/micro-apps-secret.yaml
Due: none

rimossi files inutili
  .gitlab-ci copy.yml
  secret-flux-system.yaml
  secret-micro-apps-secret.yaml
Due: none

moved files, edited gitlab for building, create two cluster structure
  .gitlab-ci.yml
  kustomize/production/kubernetes-manifests.yaml
  kustomize/production/kustomization.yaml
  kustomize/staging/kubernetes-manifests.yaml
  kustomize/staging/kustomization.yaml
  src/hammerservice/hammerservice/Services/GreeterService.cs
Due: build_hammerservice

27 create two cluster staging and production with kind and flux (#28)
  .gitlab-ci copy.yml
  .gitlab-ci.yml
  kustomize/production/kubernetes-manifests.yaml
  kustomize/production/kustomization.yaml
  kustomize/staging/kubernetes-manifests.yaml
  kustomize/staging/kustomization.yaml
  secret-flux-system.yaml
  secret-micro-apps-secret.yaml
  src/hammerservice/hammerservice/Services/GreeterService.cs
Due: build_hammerservice

add production and staging cluster config
  .gitlab-ci.yml
  clusterProvisioning/README.md
  clusterProvisioning/cluster-config-production.yaml
  clusterProvisioning/cluster-config-staging.yaml
Due: none

test creation of two cluster and CD o two application
  clusterProvisioning/README.md
  clusterProvisioning/fleet-template/micro-apps-kustomization.yaml
  clusterProvisioning/fleet-template/micro-apps-source.yaml
  kustomize/production/kubernetes-manifests.yaml
  kustomize/staging/kubernetes-manifests.yaml
Due: none

Update README.md
  README.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

restyling guide
  README.md
  docs/Capter1.md
Due: none

remove section from doc
  README.md
Due: none

Completed chapter 1
  README.md
  docs/Capter1.md
  docs/Capter2.md
Due: none

fixing documentation chapter 2
  README.md
  docs/Capter2.md
  docs/Capter3.md
Due: none

fix spacing on chapter 1
  docs/Capter1.md
Due: none
